# Virtual environment
venv/
ENV/
env/

# Python
__pycache__/
*.pyc

# IDE
.vscode/
.idea/

# Logs
logs/
*.log

# Uploads
uploaded_files/
uploaded_zips/

# Environment files
.env
.env.*

# Mac/Linux trash
.DS_Store
